@import "components/footer";
@import"components/header";
@import "components/section";



html{
    font-size: 16px;
    font-display: swap;
}
.bodyChino{
    background-color: nth($colores, 3);
    margin: 0px;
    color: nth($colores, 1);
}

