// variables se usan con $ despues simplemente se llaman
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@100;400&family=Orbitron:wght@500&display=swap');



$font1:3.5em;
$font2:3em;
$font3:1.5em;
$fontMenu:2em;
$fontFamily: 'Alumni Sans', sans-serif;
$fontFamily2: 'Orbitron', sans-serif;
